<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/salescenter
        </property>
        <property name="connection.username">
            tomcat
        </property>
        <property name="connection.password">
            tom
        </property>

        <!--List of XML mapping files -->
        <mapping resource="User.hbm.xml" class="com.salesCenter.database.entity.User" />
        <!--UserRole mapping -->
        <!--Bank Info Mapping -->
        <!--Adoptacar mapping -->
    </session-factory>
</hibernate-configuration>